body {
    padding-top: 4rem;
}
.navbar {
    background-color: white;
    padding: 0;
}
.navbar-brand {
    background-color: #63c6ae;
    text-align: right;
    min-width: 9rem;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold;
}
.nav-link {
    display: block;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px dotted rgba(255,255,255,.2);
    text-transform: uppercase;
    font-size: .9rem;
    transform: all .5s ease;
    color: #586165;
    font-weight: 600;
}
.nav-link:hover {
    color: #63c6ae;
}
.navbar-nav {
    background-color: #242a2c;
    text-align: center;
}

@media screen and (min-width: 992px) {
    .navbar-nav {
        background-color: transparent;
        margin-left: 2rem;
    }
    .nav-link {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.carousel-caption .h5 {
    background-color: #63c6ae;
    color: white;
    font-size: 1.75rem;
    font-weight: 600;
    padding: 25px 20px;
    margin-top: 240px;
}
.carousel-caption .carousel-text {
    background-color: #242a2c;
    margin: 5px 30px 35px;
    color: white;
    padding: 15px;
    font-size: .9rem;
}
.carousel-caption .btn {
    border: 1px solid rgba(255,255,255,.3);
    border-radius: 5px;
    padding: 15px 25px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgba(0,0,0,.2);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 40px;
    height: 40px;
}
